# 编译后的二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试二进制文件
*.test

# 覆盖率工具生成的输出文件
*.out

# 依赖目录
/vendor/

# Go工作区文件
go.work

# 编译输出目录
/bin/
/pkg/

# 日志文件
*.log

# 操作系统生成的文件
.DS_Store
Thumbs.db

# IDE 和编辑器生成的文件和目录
.idea/
.vscode/
*.swp
*.swo
*~

# 环境变量文件
.env

# 如果使用 air 进行热重载，可能需要忽略以下文件
tmp/

*.pdf

__debug**
wn
# docs  <- remove this line